html,
body,
#root,
#app,
#app > div {
  height: 100%;
}

.App {
  text-align: center;
  height: 100%;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.CardAtt {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.Card {
  background-color: #45b1f0 !important;
  margin: 5px !important;
  max-width: 250px;
}

.CardContent {
  height: 100px;
}

.CardColumn {
  float: left !important;
}
